
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>File Upload Error Page</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>Oops!</h1>
            </div>
            <h2>!!Important!!</h2>
            <p>
                Please select a image file. If you selected, please be sure select an image file , do not select a file other than a picture file
                Only allowed this type of file(.jpg, .jpeg and .png)
            </p>
            <p>
                Lütfen bir resim dosyası seçin. Seçtiyseniz, lütfen bir resim dosyası seçtiğinizden emin olun, resim dosyası dışında bir dosya seçmeyin.
                Yalnızca bu dosya türüne izin verilir (.jpg, .jpeg ve .png)
            </p>
            <a asp-action="Index" asp-controller="Home">Go To Homepage(Anasayfa)</a>
        </div>
    </div>
</body>
</html>


